.guide-sidebar {
    top: 0;
    height: 100vh;
    right: -400px;
    width: 400px;
    max-width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1090;
    transition: right 0.3s ease-in-out;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    direction: rtl;
    text-align: right;

}

.guide-sidebar::-webkit-scrollbar {
    display: none;
}

.guide-sidebar.open {
    right: 0;
}
.guide-header {
    color: white;
    background-color: #5C8984;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    padding: 0 10px;
}

.guide-body {
    padding:10px;
}

a {
    text-decoration: none;
    color: white;
}

.guide-button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}
